@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-100;
  font-family: "Outfit", sans-serif;
}

@import 'flowbite';

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
